.main-hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/taj-mahal-1.jpg);
    background-size: cover;
    background-position: cover;
    height: 100vh;
    padding-top: 10px;
}

.main-content {
    margin-left: 6%;
    margin-top: 70px;
}

.highlighted-main-content {
    color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 30px;
}

.highlighted-text {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.sub-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    color: #E6501B;
    font-weight: 900;
    margin-bottom: 30px;
}

.heading-1 {
    color: white;
}

.main-info {
    color: white;
    font-size: 20px;
    width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.destination-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
    background-color: white;
    width: 800px;
    padding: 20px;
    border-radius: 30px;
}

.destination-container-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.destination-input{
    border: none;
    outline: none;
    font-size: 16px;
}

.recommendation{
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 20px;
}

.recommendation-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.recommendation-count{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.destinations-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.destinations-section-heading{
    font-size: 40px;
}

.destinations-section-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.destinations-section-items-1{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/Taj-mahal-poster.jpg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-info{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-name{
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.card-prize{
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-right: 30px;
}

.card-top-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card-bottom-info{
    color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    font-weight: 400;
}

.btn-book{
    background-color: #E6501B;
    color: white;
    border: none;
   padding: 5px 5px;
   width: 100px;
    border-radius: 20px;
    cursor: pointer;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.destinations-section-items-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.destinations-section-items-2-sub-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/kerela-card.avif);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 195px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.destinations-section-items-2-sub-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/ladak-card.jpeg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 195px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.destinations-section-items-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.destinations-section-items-3-sub-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/goa-card.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 195px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.destinations-section-items-3-sub-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../images/udaipur-card.avif);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 195px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.work-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.work-section-heading{
    font-size: 40px;
    font-weight: 700;
}

.work-section-discription{
    margin-top: 10px;
    font-weight: 700;
}

.work-section-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px ;
}

.work-card-heading{
    font-size: 20px;
    font-weight: 700;
}

.work-section-card-container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.work-section-card-container-items:hover{
    border: 1px solid #E6501B;
    transition: border 0.6 ease;
}

.work-section-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.work-section-img{
    background-color: #fadcd1;
    padding: 15px;
    border-radius: 50%;
}