.main-hero-section{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./../images/taj-mahal-1.jpg);;
    background-size: cover;
    background-position: cover;
    height: 100vh;
}
